* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
}

.container {
  height: 90vh;
}

input {
  border: 0 !important;
  outline: none !important;
  /* padding: 2rem 0px 2rem 0 !important; */
  font-size: 3rem !important;
  font-weight: bold !important;
  text-align: center;
  /* width: 50% !important; */
  margin: 0 auto !important;
}

input:focus {
  outline: none !important;
  border: none !important;
}

button {
  border: none;
}
.timer {
  margin-bottom: -10rem !important;
}
/* 
#timer-border {
  border: 4px solid green;
  padding: 3rem !important;
  border-radius: 100%;
  width: 100% !important;
  margin: calc(100% - 10);
} */
